:root {
    --defaultFontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    --defaultFontSize: 18px;
    --aboutHeaderSize: 24px;
    --cardHeaderSize: 21px;
    --corners: 5px;
    --headerColour: #48bb78;
    --white: white;
    --paleBlue: #6b7280;
    --blue: #5a67d8;
    --lightBlue: #e2e8f0;
    --navyBlue: #4a5568;
}

body {
    font-family: var(--defaultFontFamily);
    margin: 0;
    font-size: var(--defaultFontSize);
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header ul {
	min-width: 696px;
	list-style-type: none;
    display: flex;
    margin-left: 400px;
    margin-top: 30px
}

header li {
    display: inline;
}

header div {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

header h1 {
    font-size: var(--defaultFontSize);
}

.overview-hero {
    margin: auto;
    background-color: var(--lightBlue);
}

.testing {
    background-color: #4a5568;
    color: var(--white);
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    
}

.newsletter {
    background-color: var(--headerColour);
    padding: 50px 0;
    color: var(--white);
    text-align: center;
}

footer {
    background-color: var(--navyBlue);
    color: var(--white);
    display: grid;
}

.overview-hero img {
    height: 150px;
    width: 150px;
}

.overview-hero .container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.learn-about img {
    height: 200px;
    width: 200px;
}

.learn-about h2 {
    font-size: var(--aboutHeaderSize);
    color: #48bb78;
}

.learn-about h3 {
    font-size: var(--cardHeaderSize);
    color: #48bb78;
}

.stories img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    padding: 20px 0;
}

.stories .container {
    padding: 70px 0;
}

.stories h2 {
    color: var(--blue);
}

.stories a {
    color: var(--blue);
}

.stories h3 {
    font-size: var(--defaultFontSize);
}

.card {
    padding: 10px;
    height: 430px;
    width: 235px; 
    border-style: solid;
    border-color: #e2e8f0;
    border-radius: s5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.learn-about .container {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    justify-content: center;
}

.cta a {
    color: var(--white);
    text-transform: uppercase;
}

.cta {
    background-color: #48bb78;
    padding: 12px 12px;
    border-radius: var(--corners);
    margin: auto auto;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#email {
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #5a67d8;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: var(--corners);
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

footer .container {
    height: 100%;
    width: 100%;
    background-color: #4a5568;

}

.testing .container {
    display: flex;
    flex-direction: row;
}

header a {
    color: var(--paleBlue);
    margin-left: 15px
}

header a:hover {
    color: var(--blue);
}

a {
    text-decoration: none;
}